

<div class="container mt-3 bg-white p-4 round shadow" style="width: 40rem;">
  <h1 class="mb-3">Book A Bike</h1>
  <%= simple_form_for [@bike, @booking] do |f| %>
    <%= f.input :date_start, as: :date %>
    <%= f.input :date_end, as: :date %>
    <%= f.input :message %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
  <%= link_to "Back to Bikes", root_path, class: "btn btn-secondary mt-5" %>
</div>
