<% if current_user %>
<h1>Welcome <%= current_user.first_name %>, This is Your bike listing page</h1>
<% end %>

<% if user_signed_in? %>
<p><%= "You are signed in, so you are seeing this" %></p>
<% else %>
<%= "You are not signed in" %>
<% end %>

<% if policy(@bike).edit? %>
  <%= link_to "Edit this bike", edit_bike_path(@bike) %> |
<% end %>
<!-- [...] -->
<%= button_to "Destroy this bike listing", @bike, method: :delete if policy(@bike).destroy? %>
